{% comment %}
    Renders product images

    Accepts:
    - percents: {Integer} percents
    - image: {Image} Backgronud image
    - title: {Text} title
    - text: {Text} text

    Usage:
    {% render 'card-percent', image_url: image_url, percents: percents, title: title, text: text %}
{% endcomment %}
{% unless template contains "index" or template contains "collection" or template contains "product"  %}
    <style>.card-percent__card{position:relative;width:100%;border-radius:15px;overflow:hidden;padding:5%;z-index:1}.card-percent__background img{width:100%;height:100%;object-fit:cover}.card-percent__background{position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1}.card-percent__percent{position:relative;display:flex;align-items:center;justify-content:center;width:80px;height:80px;margin-bottom:3%}.card-percent__progress{position:absolute;width:100%;height:100%}.card-percent__number{position:relative;font-family:Poppins;font-style:normal;font-weight:600;font-size:16px;line-height:28px;color:#253143;z-index:2}.card-percent__title{font-family:Poppins;font-style:normal;font-weight:600;font-size:24px;line-height:26px;letter-spacing:-.355556px;color:#12022f;margin-bottom:5%}.card-percent__text{font-family:Poppins;font-style:normal;font-weight:400;font-size:18px;line-height:28px;letter-spacing:-.4px;color:#12022f}.card-percent__progress svg{position:relative;width:80px;height:80px;transform:rotate(-90deg)}.card-percent__progress svg circle{width:100%;height:100%;fill:none;stroke:#E5007D;stroke-width:10;stroke-linecap:round;opacity:.5}.card-percent__progress svg circle:last-of-type{stroke-dasharray:220px;stroke-dashoffset:calc(220px - (220px * var(--percent))/ 100);stroke:#E5007D;opacity:1}@media screen and (max-width:750px){.product1-cards__number{font-size:16px;line-height:28px}.product1-cards__title{font-size:16px;line-height:26px}.product1-cards__text{font-size:14px;line-height:24px}}</style>
{% endunless %} 
<link rel="stylesheet" data-href="{{ 'component-card-percent.aio.min.css' | asset_url }}">

<div class="card-percent__card">
    <div class="card-percent__background">
        {% comment %}{% assign img = product.metafields.accentuate.why_take_card2_background | first %}{% endcomment %}
        <img loading="lazy" src="{{ image_url }}" />
    </div>
    <div class="card-percent__percent">
        <div class="card-percent__progress">
            <svg>
                <circle cx="40" cy="40" r="35"></circle>
                <circle cx="40" cy="40" r="35" style="--percent: {{ percents }}"></circle>
            </svg>
        </div>
        <div class="card-percent__number">
            {{ percents }}%
        </div>

    </div>
    <div class="card-percent__title">
        {{ title }}
    </div>
    <div class="card-percent__text">
        {{ text }}
    </div>
</div>