{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.aio.min.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }}{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" >
        {%- if card_product.featured_media -%}
          <div class="card__media" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
            <div class="media media--transparent media--hover-effect">
              <img loading="lazy"
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | img_url: 'master' }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >

              {%- if card_product.media[1] != nil and show_secondary_image -%}
                <img loading="lazy"
                  srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | img_url: 'master' }} {{ card_product.media[1].width }}w"
                  src="{{ card_product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce"
                 
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            {%- if show_rating -%}
              <div class="product2-review">
                <div class="product2-review-icons">
                  {% render 'icon-trustpilot-star' %}
                </div>
                <span>
                  {%- if card_product.metafields.accentuate.count_reviews and card_product.metafields.accentuate.count_reviews > '0' -%}
                    {{ card_product.metafields.accentuate.count_reviews }} Reviews
                  {% else %}
                    {{ card_product.title | size | times: 2 }} Reviews
                  {% endif %}
                </span>
              </div>
            {%- endif -%}
            <h3 class="card__heading">
              <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="custom-badge badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                {{ 'products.product.on_sale' | t }} - {{ card_product.compare_at_price | minus: card_product.price | money }}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content card__content2">
        <div class="card__information">
          <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}">
            <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
            {%- endif -%}

            <span class="caption-large light">{{ block.settings.description | escape }}</span>

            {%- if show_rating -%}
              <div class="product2-review">
                <div class="product2-review-icons">
                  {% render 'icon-trustpilot-star' %}
                </div>
                <span>
                  {%- if card_product.metafields.accentuate.count_reviews and card_product.metafields.accentuate.count_reviews > '0' -%}
                    {{ card_product.metafields.accentuate.count_reviews }} Reviews
                  {% else %}
                    {{ card_product.title | size | times: 2 }} Reviews
                  {% endif %}
                </span>
              </div>
            {%- endif -%}
              {% comment %}
              {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}{% liquid
                assign rating_decimal = 0
                assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                if decimal >= 0.3 and decimal <= 0.7
                  assign rating_decimal = 0.5
                elsif decimal > 0.7
                  assign rating_decimal = 1
                endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ card_product.metafields.reviews.rating.value }} / {{ card_product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>{%- endif -%}
              {% endcomment %}

            <div class="product2__form ">
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>    
    
                {% assign product_consultation = "" %}
                {% assign askflowstatid = "" %}
                {% assign product_id = product.id %}
    
                {% for item in customer.metafields.accentuate.product_ids %}
                  {% assign metaProduct_id = item[0] %}
                  {% if metaProduct_id contains product_id %}
                    {% assign product_consultation = metaProduct_id %}
                    {% assign askflowstatid = item[1].statid %}
                  {% endif %}
                {% endfor %}
    
                {%- if card_product.metafields.accentuate.need_consultation -%}
                  {% assign need_consultation = true %}
                {% else %}
                  {% assign need_consultation = false %}
                {% endif %}
    
                {%- if customer -%}
                  {% assign loggin = true %}
                {% else %}
                  {% assign loggin = false %}
                {% endif %}
    
                {% if need_consultation == true and product_consultation != "" and loggin == true %}
                  {% assign exists_product = true %}
                {% else %}
                  {% assign exists_product = false %}
                {% endif %}

                {% if card_product.template_suffix == 'product1' or card_product.template_suffix == 'intolerance' %}
                  {% if need_consultation == false %}
                    {% if card_product.metafields.accentuate.popup_question_field %}
                      {% render 'price', product: card_product, price_class: '' %}
                      <div class="product-consultation">
                        <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                          View product
                        </a>
                      </div>
                    {% else %}
                      {% capture grid_product_form_id %}product-form-template--{{ card_product.id }}__main{% endcapture %}
                      <div class="customer">
                        {%- form 'product', card_product, id: grid_product_form_id, class: 'form', data-type: 'add-to-cart-form' -%}
                          <div class="product-form__input product-form__quantity">
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: card_product.title | escape }}</span>
                                {% render 'icon-minus' %}
                              </button>
                              <input class="quantity__input"
                                     type="number"
                                     name="quantity"
                                     id="Quantity-{{ section.id }}"
                                     min="1"
                                      {% if card_product.metafields.custom.max_quantity %}
                                        max="{{ card_product.metafields.custom.max_quantity }}"
                                      {% endif %}
                                     value="1"
                                     form="{{ grid_product_form_id }}"
                              >
                              <button class="quantity__button no-js-hidden plus" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: card_product.title | escape }}</span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                            {% comment %}
                            {% if card_product.metafields.custom.max_quantity %}
                            <div class="warning-st">
                             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM8 5H16C17.6569 5 19 6.34315 19 8V16C19 17.6569 17.6569 19 16 19H8C6.34315 19 5 17.6569 5 16V8C5 6.34315 6.34315 5 8 5Z" fill="#0A0569"/>
                             <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C11.4477 7 11 7.44772 11 8C11 8.55228 11.4477 9 12 9C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7ZM12 11C11.4477 11 11 11.4477 11 12V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12C13 11.4477 12.5523 11 12 11Z" fill="#E5007D"/>
                              </svg>
                              <p>This product is limited to {{ card_product.metafields.custom.max_quantity }} per order</p>
                            </div>
                              {% endif %}
                            <div class="warning">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM8 5H16C17.6569 5 19 6.34315 19 8V16C19 17.6569 17.6569 19 16 19H8C6.34315 19 5 17.6569 5 16V8C5 6.34315 6.34315 5 8 5Z" fill="#0A0569"/>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C11.4477 7 11 7.44772 11 8C11 8.55228 11.4477 9 12 9C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7ZM12 11C11.4477 11 11 11.4477 11 12V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12C13 11.4477 12.5523 11 12 11Z" fill="#E5007D"/>
                              </svg>
                                <p>Maximum "{{ card_product.metafields.custom.max_quantity }}" units of this item can be added to your basket</p>
                              </div>
                            {% endcomment %}
                          </div>
                          {% render 'price', product: card_product, price_class: '' %}

                          <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>

                          <div class="product-form__buttons">
                            <button
                                    type="submit"
                                    id="form-add-to-cart-button-id"
                                    name="add"
                                    class="product-form__submit button button--full-width"
                                    {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                            >
                                <span>
                                  {%- if card_product.selected_or_first_available_variant.available -%}
                                    {{ 'products.product.add_to_cart' | t }}
                                  {%- else -%}
                                    {{ 'products.product.sold_out' | t }}
                                  {%- endif -%}
                                </span>
                              <div class="loading-overlay__spinner hidden">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </button>
                          </div>
                        {%- endform -%}
                      </div>
                    {% endif %}
                  {% else %}
                    <div class="product-consultation">
                      <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                        View product
                      </a>
                    </div>
                  {% endif %}

                {% elsif card_product.template_suffix == 'wegovy' %}
                  {% comment %}if need_consultation == true and card_product.metafields.accentuate.consultation_url != "" {% endcomment %}
                  {% render 'price', product: card_product, price_class: '' %}
                  <div class="product-consultation">
                    <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                      Get started
                    </a>
                  </div>
                  {% comment %}{% endcomment %}
                  {% comment %}{% endif %}{% endcomment %}
                  {% comment %}{% endcomment %}
                {% elsif card_product.template_suffix == 'product2' %}
                  {% if need_consultation == true and card_product.metafields.accentuate.consultation_url != "" %}
                    {% render 'price', product: card_product, price_class: '' %}
                    <div class="product-consultation">
                      <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                        Get started
                      </a>                    
                    </div>
                  {% endif %}
                
                {% elsif card_product.template_suffix == 'product2-2' %}
                  {% if need_consultation == false %}
                    {% if card_product.metafields.accentuate.popup_question_field %}
                      {% render 'price', product: card_product, price_class: '' %}
                      <div class="product-consultation">
                        <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                          View product
                        </a>                    
                      </div>
                    {% else %}  
                      {% capture grid_product_form_id %}product-form-template--{{ card_product.id }}__main{% endcapture %}
                      <div class="customer">
                        {%- form 'product', card_product, id: grid_product_form_id, class: 'form', data-type: 'add-to-cart-form' -%}
                          <div class="product-form__input product-form__quantity">            
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: card_product.title | escape }}</span>
                                {% render 'icon-minus' %}
                              </button>
                              <input class="quantity__input"
                                  type="number"
                                  name="quantity"
                                  id="Quantity-{{ section.id }}"
                                  min="1"
                                  {% if card_product.metafields.custom.max_quantity %}
                                  max="{{ card_product.metafields.custom.max_quantity }}"
                                  {% endif %}
                                  value="1"
                                  form="{{ grid_product_form_id }}"
                                >
                              <button class="quantity__button no-js-hidden plus" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: card_product.title | escape }}</span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                          {% comment %}
                          {% if card_product.metafields.custom.max_quantity %}
                          <div class="warning-st">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM8 5H16C17.6569 5 19 6.34315 19 8V16C19 17.6569 17.6569 19 16 19H8C6.34315 19 5 17.6569 5 16V8C5 6.34315 6.34315 5 8 5Z" fill="#0A0569"/>
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C11.4477 7 11 7.44772 11 8C11 8.55228 11.4477 9 12 9C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7ZM12 11C11.4477 11 11 11.4477 11 12V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12C13 11.4477 12.5523 11 12 11Z" fill="#E5007D"/>
                            </svg>
                            <p>This product is limited to {{ card_product.metafields.custom.max_quantity }} per order</p>
                          </div>
                            {% endif %}
                          <div class="warning">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM8 5H16C17.6569 5 19 6.34315 19 8V16C19 17.6569 17.6569 19 16 19H8C6.34315 19 5 17.6569 5 16V8C5 6.34315 6.34315 5 8 5Z" fill="#0A0569"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C11.4477 7 11 7.44772 11 8C11 8.55228 11.4477 9 12 9C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7ZM12 11C11.4477 11 11 11.4477 11 12V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12C13 11.4477 12.5523 11 12 11Z" fill="#E5007D"/>
                            </svg>
                              <p>Maximum "{{ card_product.metafields.custom.max_quantity }}" units of this item can be added to your basket</p>
                            </div>
                          {% endcomment %}
                          </div>
                          {% render 'price', product: card_product, price_class: '' %}
                          
                          <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                  
                          <div class="product-form__buttons">
                            <button
                              type="submit"
                              id="form-add-to-cart-button-id"
                              name="add"
                              class="product-form__submit button button--full-width"
                            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                            >
                                <span>
                                  {%- if card_product.selected_or_first_available_variant.available -%}
                                    {{ 'products.product.add_to_cart' | t }}
                                  {%- else -%}
                                    {{ 'products.product.sold_out' | t }}
                                  {%- endif -%}
                                </span>
                                <div class="loading-overlay__spinner hidden">
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                            </button>
                          </div>
                        {%- endform -%}
                      </div>                          
                    {% endif %}
                    {% else %}
                        <div class="product-consultation">
                        <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                          View product
                        </a>                    
                      </div>
                  {% endif %}
                {% else %}
                  {% render 'price', product: card_product, price_class: '' %}
                  <div class="product-consultation">
                    <a href="{% if collection.handle != null %}/collections/{{ collection.handle }}{% endif %}{{ card_product.url | with: collection | default: '#' }}" class="button button--full-width">
                      View product
                    </a>                    
                  </div>
                {% endif %}
              </product-form>              
            </div>
          </div>
        </div>  
        <div class="card__badge {{ settings.badge_position }}">          
          {%- if card_product.available == false -%}
            <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }} - {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</span>
          {%- endif -%}
        </div>  
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      card--text
      {% if extend_height %} card--extend-height{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: 100%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }}{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="#" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a href="#" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
                      
