{% unless template contains "index" or template contains "collection" or template contains "product"  %}
    <style>.modal-fields{top:0;left:0;width:100%;height:100%;position:fixed;opacity:0;visibility:hidden;z-index:-1;background:rgba(var(--color-foreground),.2);font-weight:400;font-size:18px;line-height:28px;letter-spacing:-.4px;color:#12022f}.modal-fields[open]{opacity:1;visibility:visible;z-index:10001}.modal-fields__wrap{position:absolute;background-color:#fff;overflow:hidden;top:50%;left:50%;transform:translate(-50%,-50%);width:500px;height:585px;border-radius:20px;box-shadow:#173c94;margin:0!important;padding:20px!important;max-width:none!important}@media screen and (max-width:450px){.modal-fields__wrap{width:90%}}.modal-fields__content{height:460px}.modal-fields__form{display:flex;flex-direction:column;justify-content:space-between;width:100%;height:85%}.modal-fields__button{display:flex;align-items:center;justify-content:center;width:100%;height:56px;background:#0a0569;border-radius:28px;margin-bottom:16px;cursor:pointer}.modal-fields__button span{font-family:Poppins;font-style:normal;font-weight:600;font-size:16px;line-height:26px;text-align:center;letter-spacing:-.36px;color:#fff;margin:0 10px}.modal-fields__content.focused{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3),var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}.modal-fields__content:focus-visible{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3),var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}.modal-fields__close{display:block!important;position:absolute;right:32px;top:32px;width:32px;height:32px;opacity:.3;border:none;cursor:pointer}.modal-fields__close:hover{opacity:1}.modal-fields__close:after,.modal-fields__close:before{position:absolute;left:15px;content:' ';height:33px;width:2px;background-color:#333}.modal-fields__close:before{transform:rotate(45deg)}.modal-fields__close:after{transform:rotate(-45deg)}@media screen and (max-width:750px){.modal-fields__content{width:100%;border-radius:0}}</style>
{% endunless %} 
<link rel="stylesheet" data-href="{{ 'modal-fields.aio.min.css' | asset_url }}">

  
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

<script>
  window.onload = function() {
     var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();
      if (dd < 10) {
         dd = "0" + dd;
      }
      if (mm < 10) {
         mm = "0" + mm;
      }
      today = yyyy + "-" + mm + "-" + dd;
      $("#popup_question_field-13").attr("type", "date");
      $("#popup_question_field-13").attr("min", "1899-01-01");
      $("#popup_question_field-13").attr("max", today);
      $("#popup_question_field-13").on('keydown', function(e) {
        e.preventDefault();
      });
      $(".popup-question__item-input-date").attr("type", "date");
      $(".popup-question__item-input-date").attr("min", "1899-01-01");
      $(".popup-question__item-input-date").attr("max", today);
      $(".popup-question__item-input-date").on('keydown', function(e) {
        e.preventDefault();
      });
      
    // document.getElementById(“datefield”).setAttribute(“max”, today);
      $("#ProductDateBirth").attr("type", "date");
      $("#ProductDateBirth").attr("min", "1899-01-01");
      $("#ProductDateBirth").attr("max", today);
      $("#ProductDateBirth").on('keydown', function(e) {
        e.preventDefault();
      });
    
  };
</script>

<style>
  .modal-fields__button.dissable {
    filter: grayscale(1);
    pointer-events: none;
  }
</style>

<script type="lazyload_int">
    window.onload = function() {
     var today = new Date();
      let options = [{day: 'numeric'}, {month: 'short'}, {year: 'numeric'}];
      let min = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();
      if (dd < 10) {
         dd = "0" + dd;
      }
      if (mm < 10) {
         mm = "0" + mm;
      }
      old = yyyy - 100;
      today = yyyy + "-" + mm + "-" + dd;
      min = old + "-" + mm + "-" + dd;
      // document.getElementById(“datefield”).setAttribute(“max”, today);
      $("#popup_question_field-13").attr("type", "date");
      $("#popup_question_field-13").attr("min", "1930-01-01");
      $("#popup_question_field-13").attr("max", today);
      $("#popup_question_field-13").val( today);
      $("#popup_question_field-13").on('keyup', function(e) {
        console.log($("#popup_question_field-13").val())
        console.log(today)
        console.log(min)
        if($("#popup_question_field-13").val() > today || $("#popup_question_field-13").val() < min) {
          $('.modal-fields__button').addClass('dissable')
        } else {
          $('.modal-fields__button').removeClass('dissable')
        }
      });
      $("#popup_question_field-13").on('change', function(e) {
        console.log($("#popup_question_field-13").val())
        console.log(today)
        console.log(min)
        if($("#popup_question_field-13").val() > today || $("#popup_question_field-13").val() < min) {
          $('.modal-fields__button').addClass('dissable')
        } else {
          $('.modal-fields__button').removeClass('dissable')
        }
      });

    $("#popup_question_field-17").attr("type", "date");
      $("#popup_question_field-17").attr("min", "1930-01-01");
      $("#popup_question_field-17").attr("max", today);
      $("#popup_question_field-17").val( today);
      $("#popup_question_field-17").on('keyup', function(e) {
        console.log($("#popup_question_field-17").val())
        console.log(today)
        console.log(min)
        if($("#popup_question_field-17").val() > today || $("#popup_question_field-17").val() < min) {
          $('.modal-fields__button').addClass('dissable')
        } else {
          $('.modal-fields__button').removeClass('dissable')
        }
      });
      $("#popup_question_field-17").on('change', function(e) {
        console.log($("#popup_question_field-17").val())
        console.log(today)
        console.log(min)
        if($("#popup_question_field-17").val() > today || $("#popup_question_field-17").val() < min) {
          $('.modal-fields__button').addClass('dissable')
        } else {
          $('.modal-fields__button').removeClass('dissable')
        }
      });
  };
  
</script>

<modal-dialog id="PopupModal-{{product.id}}" class="modal-fields">
    <div role="dialog" aria-label="{{ product.title }}" aria-modal="true" class="modal-fields__wrap" tabindex="-1">
        <div type="button" class="modal-fields__close" aria-label="{{ 'accessibility.close' | t }}"></div>

        <div class="modal-fields__content-widget page-width modal-widget">
            <div class="customer modal-fields__wrap modal-fields__content">
                <h3 class="modal-fields__caption">Who is this for?</h3>
                <form class="modal-fields__form" action="#" onsubmit="formSubmit();return false">
                    <div>{% render 'order-properties-fields' %}</div>
                    <button id="ModalClose-{{ product.id }}" type="submit" class="modal-fields__button">
                        <span>{{ button_title }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</modal-dialog>
<script type="lazyload_int">
    //form-add-to-cart-button-id

    const properties_first_name = document.getElementById("properties_first_name");
    const properties_last_name = document.getElementById("properties_last_name");
    const properties_email = document.getElementById("properties_email");
    const properties_date_of_birth = document.getElementById("properties_date_of_birth");
    const properties_gender = document.getElementById("properties_gender");

    const properties_first_name_current = document.getElementById("Product-FirstName");
    const properties_last_name_current = document.getElementById("Product-LastName");
    const properties_email_current = document.getElementById("Product-email");
    const properties_date_of_birth_current = document.getElementById("ProductDateBirth");
    const properties_gender_current = document.getElementById("Product-Gender");
    const formAddCartButton = document.getElementById("form-add-to-cart-button-id");

    const modalFieldsClose = document.querySelector('.modal-fields__close');
    const modalFields = document.querySelector('.modal-fields');

    const formSubmit = (event) => {
        // event.preventDefault();
        if (properties_first_name && properties_first_name_current) properties_first_name.value = properties_first_name_current.value;
        if (properties_last_name && properties_last_name_current) properties_last_name.value = properties_last_name_current.value;
        if (properties_email && properties_email_current) properties_email.value = properties_email_current.value;
        if (properties_date_of_birth && properties_date_of_birth_current) properties_date_of_birth.value = properties_date_of_birth_current.value;
        if (properties_gender && properties_gender_current) properties_gender.value = properties_gender_current.value;
        if (formAddCartButton) formAddCartButton.click();
        // ModalDialog.hide();
    }

    modalFieldsClose.addEventListener('click', () => {
        modalFields.removeAttribute('open');
        document.body.classList.remove('overflow-hidden');
    });
</script>
