{{ 'experts-opinion.aio.min.css' | asset_url | stylesheet_tag }}
{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

{% assign title = section.settings.title %}
{% assign text = section.settings.text %}
{% assign name = section.settings.name %}
{% assign profession = section.settings.profession %}
{% assign image_url = section.settings.image_expert | img_url: 'master' %}

{% if product.metafields.accentuate.experts_title %}
  {% assign title = product.metafields.accentuate.experts_title %}
  {% assign text = product.metafields.accentuate.experts_text %}
  {% assign name = product.metafields.accentuate.experts_name %}
  {% assign profession = product.metafields.accentuate.experts_profession %}
  {% assign img = product.metafields.accentuate.experts_image | first %}
  {% assign image_url = img.src %}
{% endif %}

<div class="experts-opinion color-{{ section.settings.color_scheme }} gradient{% unless section.settings.show_background %} without-background{% endunless %}">
  {% if section.settings.show_background %}
    <div class="experts-opinion__background-block">
      <img loading="lazy"
        class="experts-opinion__image-background"

        srcset="{%- if section.settings.image_background.width >= 275 -%}{{ section.settings.image_background | img_url: '275x' }} 275w,{%- endif -%}
        {%- if section.settings.image_background.width >= 550 -%}{{ section.settings.image_background | img_url: '550x' }} 550w,{%- endif -%}
        {%- if section.settings.image_background.width >= 710 -%}{{ section.settings.image_background | img_url: '710x' }} 710w,{%- endif -%}
        {%- if section.settings.image_background.width >= 1420 -%}{{ section.settings.image_background | img_url: '1420x' }} 1420w,{%- endif -%}
        {{ section.settings.image_background | img_url: 'master' }} {{ section.settings.image_background.width }}w"
        src="{{ section.settings.image_background | img_url: '550x' }}"
        alt="{{ section.settings.title }}"
      >
    </div>
  {%- endif -%}
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="experts-opinion__wrapper">
      <div class="experts-opinion__content">
        <h2 class="experts-opinion__title">{{ title }}</h2>
        <div class="experts-opinion__text">{{ text }}</div>
        <div class="experts-opinion__name">{{ name }}</div>
        <div class="experts-opinion__profession">{{ profession }}</div>
      </div>
      <div class="experts-opinion__image-block">
        <img loading="lazy" class="experts-opinion__image-expert" src="{{ image_url }}" alt="{{ title }}">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.experts-opinion.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "t:sections.experts-opinion.settings.image_background.label"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "Show background image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image_expert",
      "label": "t:sections.experts-opinion.settings.image_expert.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.experts-opinion.settings.title.label",
      "info": "t:sections.experts-opinion.settings.title.info",
      "default": "Expert’s Opinion"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.experts-opinion.settings.text.label",
      "info": "t:sections.experts-opinion.settings.text.info",
      "default": "<p>“Write is super-useful as we can see the actual text in the actual design. We can even adjust text length to make it look good!” “Write is super-useful as we can see the actual text in the actual design. We can even adjust text length to make it look good!”</p>"
    },
    {
      "type": "text",
      "id": "name",
      "label": "t:sections.experts-opinion.settings.name.label",
      "info": "t:sections.experts-opinion.settings.name.info",
      "default": "Linh Nguyen"
    },
    {
      "type": "text",
      "id": "profession",
      "label": "t:sections.experts-opinion.settings.profession.label",
      "info": "t:sections.experts-opinion.settings.profession.info",
      "default": "Surgeon General"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.experts-opinion.presets.name"
    }
  ]
}
{% endschema %}
