{% unless template contains "index" or template contains "collection" or template contains "product"  %}
    <style> html{scroll-behavior:smooth}.hero-section4 .page-width{max-width:1174px}.hero-section4__content:after{content:'';display:block;clear:both}.hero-section4__title{font-family:Quicksand;font-style:normal;font-weight:600;font-size:32px;line-height:46px;letter-spacing:-1.6px;color:#172c85;margin:0;position:relative;z-index:2}@media only screen and (min-width:990px){.hero-section4__title{font-size:46px;line-height:56px;float:left;width:50%;letter-spacing:-1px;margin:0 0 56px 3px}}.hero-section4__title span{position:relative}.hero-section4__title span:before{content:"";position:absolute;width:100%;height:5px;background:#d32f7c;border-radius:3px;bottom:-8px}.hero-section4__img-holder{display:flex;align-items:center;justify-content:center;padding:28px 34px 48px}@media only screen and (min-width:500px){.hero-section4__img-holder{padding:28px 34px 93px}}@media only screen and (min-width:990px){.hero-section4__img-holder{width:47.2%;float:right;padding:28px 34px 48px;margin:0 0 57px}}.hero-section4__img-box{position:relative}.hero-section4__img-bg1{position:absolute;left:50%;top:50%;transform:translate(-55%,-37%);z-index:0}@media only screen and (min-width:767px){.hero-section4__img-bg1{transform:translate(-49.5%,-42%)}}.hero-section4__img-bg{position:absolute;width:94.4%;height:95.5%;left:16.1%;top:16.3%;z-index:1;display:block!important;border-radius:32px}.hero-section4__img-box img{max-width:100%;position:relative;z-index:2;border-radius:24px;height:auto}.hero-section4__review{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 0 20px;position:relative;z-index:2}.hero-section4__review-left{margin:0 0 15px;display:none}.hero-section4__review-left-count{color:#000;font-size:32px;line-height:48px;margin:0 0 0}.hero-section4__review-left-text{font-family:Poppins;font-style:normal;font-weight:400;font-size:13px;line-height:18px;color:#56778f}.hero-section4__review-right{margin:0 0 15px}.hero-section4__review-right-text{font-family:Poppins;font-style:normal;font-weight:400;font-size:14px;line-height:23px;color:#56778f;margin:0 0 18px}.hero-section4__review-right-text strong{color:#172b3a;font-weight:400}.hero-section4__review-right-link{text-decoration:none;display:flex;align-items:flex-end}.hero-section4__review-right-link svg:last-child{margin:0 0 0 9px}@media only screen and (min-width:990px){.hero-section4__review{float:left;width:50%;margin:0 0 50px 4px}.hero-section4__review-left{display:block}.hero-section4__review-left-count{font-size:32px;line-height:48px;margin:0 0 0;display:flex;align-items:center}.hero-section4__review-left-count img{margin:0 8px 0 0}.hero-section4__review-right{margin:8px 10% 11px 0;letter-spacing:0}.hero-section4__review-right-text{margin:0 0 10px}}@media only screen and (min-width:1200px){.hero-section4__review-right{margin:8px 17.8% 11px 0}.hero-section4__review-right-link{text-decoration:none;margin:0 0 0 7px}}.hero-section4__blocks{display:flex;flex-wrap:wrap;justify-content:center;padding:0 0 3px;position:relative;z-index:2}.hero-section4__blocks-item{background:#fff;border-radius:16px;-webkit-box-shadow:0 3px 6px 0 rgb(0,0,0,.75);-moz-box-shadow:0 3px 6px 0 rgba(0,0,0,.75);box-shadow:0 3px 6px 0 rgb(0,0,0,.75);padding:23px 12px 12px;max-width:159px;margin:0 10px 30px 0}.hero-section4__blocks-item:last-child{margin:0 0 30px}@media only screen and (min-width:990px){.hero-section4__blocks{padding:0 0 3px 5px}.hero-section4__blocks-item{margin:0 28px 30px 0;padding:23px 12px 11px}.hero-section4__blocks-item:last-child{margin:0 0 30px}}.hero-section4__blocks-item-title{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:24px;letter-spacing:-.3px;color:#12022f;margin:0 3px 19px}.hero-section4__blocks-item-icon{margin:0 3px 4px}.hero-section4__blocks-item-icon svg{max-height:24px}.hero-section4__blocks-item-link a{font-family:Poppins;font-style:normal;font-weight:400;font-size:16px;line-height:20px;letter-spacing:1px;color:#fff;text-decoration:none;background:#d32f7c;border:2px solid #d32f7c;border-radius:28px;padding:4px;display:block;text-align:center}@media only screen and (min-width:990px){.hero-section4__blocks{justify-content:flex-start;float:left;width:50%}.hero-section4__blocks-item-link a{padding:5px 7px 4px 3px}}.hero-section__logos{margin-top:44px;max-width:320px;width:100%;display:flex;row-gap:20px;justify-content:space-between;align-items:center}.hero-section__logos-holder{padding:20px 0;position:relative;z-index:2}@media only screen and (min-width:990px){.hero-section__logos-holder{float:left;width:100%}}@media only screen and (min-width:1200px){.hero-section__logos-holder{width:50%}}.hero-section__logos-title{font-family:Poppins;font-style:normal;font-weight:600;font-size:12px;line-height:24px;letter-spacing:2px;text-transform:uppercase;color:#857d94;margin:0}.hero-section__logos-list{display:flex;justify-content:flex-start;padding:10px 0}.hero-section__logos-item{background:#fff;box-shadow:0 4px 16px #0000001c;border-radius:16px;display:flex;justify-content:center;align-items:center;padding:8px 5px;margin:0 0 10px 10px;max-width:82px}.hero-section__logos-item:first-child{margin:0 0 10px}.hero-section__logos__image{width:100%;height:100%;object-fit:contain}@media only screen and (min-width:990px){.hero-section__logos-list{padding:7px 0}.hero-section__logos-item{margin:0 0 10px 16px}.hero-section__logos-item:first-child{margin:0 0 10px}}.hero-section__image__box{width:540px;height:472px;padding-top:36px}.hero-section__image-wrapper{margin:0;display:block;position:relative;width:calc(100% - 65px);height:calc(100% - 65px);border-radius:32px}.hero-section__image-wrapper img{display:block;position:absolute;border-radius:32px;width:100%;height:100%;object-fit:cover;object-position:center center}.hero-section__image-wrapper::before{display:block;position:absolute;left:65px;top:65px;width:100%;height:100%;border-radius:32px;content:"";background-color:#d32f7c}.hero-section__advantage{margin-top:25px;display:flex;column-gap:24px}.hero-section__advantage-block{display:flex;flex:1 0 0;column-gap:8px}.hero-section__advantage-block svg{width:36px}.hero-section__advantage-text{font-weight:500;font-size:14px;line-height:24px}.button{font-weight:600;font-size:16px;line-height:26px;border-radius:28px;padding:15px 30px}.button:after{inset:unset}.button--primary{border:2px solid #e5007d;padding:15px 30px;background:#e5007d}.button--secondary{border:2px solid #fff;background:0 0;transition:.4s all}.hero-section__trustindex{margin-top:32px}.hero-section__trustindex>div:first-of-type{display:inline!important}.hero-section__trustindex>div:first-of-type a{padding:0!important}@media screen and (max-width:990px){.hero-section__wrapper{display:block}}@media screen and (max-width:767px){.hero-section__box-image{margin-top:32px}.hero-section__image__box{max-width:465px;width:100%;height:100%;min-height:324px;max-height:400px}.hero-section__advantage{flex-direction:column;column-gap:unset;row-gap:20px}.hero-section__advantage-text{max-width:219px;width:100%}.hero-section__image-wrapper{width:calc(100% - 39px)}.hero-section__image-wrapper::before{left:39px;top:39px}}@media (hover:hover){.button--secondary:hover{background:#d32f7c;border-color:#d32f7c}}</style>
{% endunless %} 
<link rel="stylesheet" data-href="{{ 'section-hero4.aio.min.css' | asset_url }}">

{%- style -%}
  @media only screen and (max-width: 790px) {
    .hero-section4__blocks {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: flex-start;
    }
    .hero-section4__blocks-item {
      flex-shrink: 0;
      margin: 5px 10px 30px 10px !important;
    }
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.25 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.2 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  {% if section.settings.image_bg != blank %}
     @media only screen and (min-width: 767px) {
       #Hero-{{ section.id }} {          
          background: {{ section.settings.image_bg}};
          background: -moz-radial-gradient({{ section.settings.image_bg}});
          background: -webkit-radial-gradient({{ section.settings.image_bg}});
          background: radial-gradient({{ section.settings.image_bg}});       
        }
      }
  {%- endif -%}
{%- endstyle -%}

<div id="Hero-{{ section.id }}" class="hero-section4">
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="hero-section4__content">
      {% if section.settings.title != blank %}
        <h2 class="hero-section4__title"><span>{{ section.settings.title }}</span></h2>
      {%- endif -%}
      
      {% if section.settings.image != blank %}
        <div class="hero-section4__img-holder">
          <div class="hero-section4__img-box">
            
            <div class="hero-section4__img-bg1" >
              <svg width="958" height="954" viewBox="0 0 958 954" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36.8622 275.92C108.3 202.789 190.687 141.267 281.052 93.5707L303.251 82.4518C387.637 40.5655 478.428 13.1301 571.86 1.28396C591.5 -1.50079 611.515 0.258133 630.371 6.4258C649.226 12.5935 666.421 23.0059 680.635 36.8644C753.927 108.02 815.714 190.172 863.778 280.368L875.987 304.829L879.317 309.277L880.427 311.501C915.946 389.333 941.475 471.613 953.684 555.004L955.904 570.571C958.907 589.99 957.361 609.842 951.39 628.56C945.418 647.278 935.184 664.349 921.495 678.424L892.637 706.221L850.458 745.137C797.311 789.831 739.212 828.257 677.305 859.662L651.777 871.892L647.337 874.116L645.117 875.228C562.946 913.904 475.359 939.776 385.388 951.948C365.832 954.962 345.846 953.42 326.981 947.442C308.116 941.464 290.881 931.211 276.612 917.48C246.643 888.571 218.895 857.438 192.256 825.193L183.376 812.962L180.046 809.627L178.936 806.291C146.748 765.151 117.889 719.564 94.5798 672.864L79.0405 643.955C40.1943 561.648 13.9991 473.929 1.34371 383.773C-1.51686 364.267 0.204185 344.362 6.37006 325.639C12.5359 306.916 22.9766 289.892 36.8622 275.92Z" fill="url(#paint0_linear_134_279)"/>
                <defs>
                <linearGradient id="paint0_linear_134_279" x1="947.912" y1="566.679" x2="226.922" y2="149.698" gradientUnits="userSpaceOnUse">
                <stop stop-color="#AAAEFF"/>
                <stop offset="0.2" stop-color="#D2D4FF"/>
                <stop offset="0.6" stop-color="#F7F7FF"/>
                <stop offset="1" stop-color="#EBECFF"/>
                </linearGradient>
                </defs>
              </svg>
            </div>
            
            {% if section.settings.image_background != blank %}<div class="hero-section4__img-bg" style="background-color:{{ section.settings.image_background }}"></div>{%- endif -%}        
            <img class="hero-section4__img"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
              data-srcset="{%- if section.settings.image.width >= 275 -%}{{ section.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                      {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                      {%- if section.settings.image.width >= 710 -%}{{ section.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                      {%- if section.settings.image.width >= 1420 -%}{{ section.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                      {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
              data-mob-src="{{ section.settings.image | img_url: '550x' }}"
              data-src="{{ section.settings.image | img_url: '710x' }}"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
              alt="{{ section.settings.image.alt }}">{% comment %}{% endcomment %}
          </div>
        </div>
      {%- endif -%}
     
      {% if section.settings.show_review %}
        <div class="hero-section4__review">
          {% if section.settings.reviews_count != blank and section.settings.reviews_text != blank %}
            <div class="hero-section4__review-left">
              <div class="hero-section4__review-left-count">
                {% render 'icon-woman' %}
                {{ section.settings.reviews_count }}
              </div>
              <div class="hero-section4__review-left-text">{{ section.settings.reviews_text }}</div>
            </div>
          {%- endif -%}
          {% if section.settings.reviews_text2 != blank and section.settings.reviews_url != blank %}
            <div class="hero-section4__review-right">
              <div class="hero-section4__review-right-text">{{ section.settings.reviews_text2 }}</div>
              <a class="hero-section4__review-right-link" href="{{ section.settings.reviews_url }}" target="_blank">
                {% render 'icon-trust-index-pilot' %}              
              </a>
            </div>
          {%- endif -%}
              <div class="hero-section4__review-right-text hero-section4__review-right--subtitle" style="margin-top: 10px; color: rgb(18, 2, 47); width: 100%;">
                {{ section.settings.reviews_subtitle }}
              </div>
        </div>
      {%- endif -%}

      {% if section.settings.show_blocks %}
        <div class="hero-section4__blocks">
          {% if section.settings.block_title1 != blank %}
            <div class="hero-section4__blocks-item">
              {% if section.settings.block_icon1 != blank %}
                <div class="hero-section4__blocks-item-icon">
                  {% if section.settings.block_icon1 == "icon-heart" %}
                    {% render 'icon-heart' %}
                  {% elsif section.settings.block_icon1 == "icon-ogpa" %}
                    {% render 'icon-ogpa' %}
                  {% else %}
                    {% render 'icon-pils' %}
                  {% endif %}
                </div>
              {% endif %}
              <h4 class="hero-section4__blocks-item-title">{{ section.settings.block_title1 }}</h4>
              {% if section.settings.block_btn_text1 != blank and section.settings.block_btn_url1 != blank %}
                <div class="hero-section4__blocks-item-link">
                  <a href="{{ section.settings.block_btn_url1 }}">{{ section.settings.block_btn_text1 }}</a>
                </div>
              {% endif %}
            </div>
          {%- endif -%}
          {% if section.settings.block_title2 != blank %}
            <div class="hero-section4__blocks-item">
              {% if section.settings.block_icon2 != blank %}
                <div class="hero-section4__blocks-item-icon">
                  {% if section.settings.block_icon2 == "icon-heart" %}
                    {% render 'icon-heart' %}
                  {% elsif section.settings.block_icon2 == "icon-ogpa" %}
                    {% render 'icon-ogpa' %}
                  {% else %}
                    {% render 'icon-pils' %}
                  {% endif %}
                </div>
              {% endif %}
              <h4 class="hero-section4__blocks-item-title">{{ section.settings.block_title2 }}</h4>
              {% if section.settings.block_btn_text2 != blank and section.settings.block_btn_url2 != blank %}
                <div class="hero-section4__blocks-item-link">
                  <a href="{{ section.settings.block_btn_url2 }}">{{ section.settings.block_btn_text2 }}</a>
                </div>
              {% endif %}
            </div>
          {%- endif -%}
          {% if section.settings.block_title3 != blank %}
            <div class="hero-section4__blocks-item">
              {% if section.settings.block_icon3 != blank %}
                <div class="hero-section4__blocks-item-icon">
                  {% if section.settings.block_icon3 == "icon-heart" %}
                    {% render 'icon-heart' %}
                  {% elsif section.settings.block_icon3 == "icon-ogpa" %}
                    {% render 'icon-ogpa' %}
                  {% else %}
                    {% render 'icon-pils' %}
                  {% endif %}
                </div>
              {% endif %}
              <h4 class="hero-section4__blocks-item-title">{{ section.settings.block_title3 }}</h4>
              {% if section.settings.block_btn_text3 != blank and section.settings.block_btn_url3 != blank %}
                <div class="hero-section4__blocks-item-link">
                  <a href="{{ section.settings.block_btn_url3 }}">{{ section.settings.block_btn_text3 }}</a>
                </div>
              {% endif %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {% if section.settings.show_logos %}
        <div class="hero-section__logos-holder">
          {% if section.settings.title_news != blank %}
            <h6 class="hero-section__logos-title">{{ section.settings.title_news }}</h6>
          {%- endif -%}
          <div class="hero-section__logos-list">
            {% if section.settings.image_news1 %}
            <div class="hero-section__logos-item">
              <img class="hero-section__logos__image"
                loading="lazy"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
                data-srcset="{%- if section.settings.image_news1.width >= 275 -%}{{ section.settings.image_news1 | img_url: '275x' }},{%- endif -%}
                        {%- if section.settings.image_news1.width >= 550 -%}{{ section.settings.image_news1 | img_url: '550x' }},{%- endif -%}
                        {%- if section.settings.image_news1.width >= 710 -%}{{ section.settings.image_news1 | img_url: '710x' }},{%- endif -%}
                        {%- if section.settings.image_news1.width >= 1420 -%}{{ section.settings.image_news1 | img_url: '1420x' }},{%- endif -%}
                        {{ section.settings.image_news1 | img_url: 'master' }} {{ section.settings.image_news1.width }}w"
                data-src="{{ section.settings.image_news1 | img_url: '64x' }}"
                alt="{{ section.settings.image_news1.alt }}">
            </div>  
          {%- endif -%}
          {% if section.settings.image_news2 %}
            <div class="hero-section__logos-item">
              <img class="hero-section__logos__image"
                loading="lazy"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
                data-srcset="{%- if section.settings.image_news2.width >= 275 -%}{{ section.settings.image_news2 | img_url: '275x' }} master,{%- endif -%}
                        {%- if section.settings.image_news2.width >= 550 -%}{{ section.settings.image_news2 | img_url: '550x' }} master,{%- endif -%}
                        {%- if section.settings.image_news2.width >= 710 -%}{{ section.settings.image_news2 | img_url: '710x' }} master,{%- endif -%}
                        {%- if section.settings.image_news2.width >= 1420 -%}{{ section.settings.image_news2 | img_url: '1420x' }} master,{%- endif -%}
                        {{ section.settings.image_news2 | img_url: 'master' }} {{ section.settings.image_news2.width }}w"
                data-src="{{ section.settings.image_news2 | img_url: '64x' }}"
                alt="{{ section.settings.image_news2.alt }}">
            </div>  
          {%- endif -%}
          {% if section.settings.image_news3 %}
            <div class="hero-section__logos-item">
              <img class="hero-section__logos__image"
                loading="lazy"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
                data-srcset="{%- if section.settings.image_news3.width >= 275 -%}{{ section.settings.image_news3 | img_url: '275x' }} master,{%- endif -%}
                        {%- if section.settings.image_news3.width >= 550 -%}{{ section.settings.image_news3 | img_url: '550x' }} master,{%- endif -%}
                        {%- if section.settings.image_news3.width >= 710 -%}{{ section.settings.image_news3 | img_url: '710x' }} master,{%- endif -%}
                        {%- if section.settings.image_news3.width >= 1420 -%}{{ section.settings.image_news3 | img_url: '1420x' }} master,{%- endif -%}
                        {{ section.settings.image_news3 | img_url: 'master' }} {{ section.settings.image_news3.width }}w"
                data-src="{{ section.settings.image_news3 | img_url: '64x' }}"
                alt="{{ section.settings.image_news3.alt }}">
            </div>  
          {%- endif -%}
          {% if section.settings.image_news4 %}
            <div class="hero-section__logos-item">
              <img class="hero-section__logos__image"
                loading="lazy"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
                data-srcset="{%- if section.settings.image_news4.width >= 275 -%}{{ section.settings.image_news4 | img_url: '275x' }} master,{%- endif -%}
                        {%- if section.settings.image_news4.width >= 550 -%}{{ section.settings.image_news4 | img_url: '550x' }} master,{%- endif -%}
                        {%- if section.settings.image_news4.width >= 710 -%}{{ section.settings.image_news4 | img_url: '710x' }} master,{%- endif -%}
                        {%- if section.settings.image_news4.width >= 1420 -%}{{ section.settings.image_news4 | img_url: '1420x' }} master,{%- endif -%}
                        {{ section.settings.image_news4 | img_url: 'master' }} {{ section.settings.image_news4.width }}w"
                data-src="{{ section.settings.image_news4 | img_url: '64x' }}"
                alt="{{ section.settings.image_news4.alt }}">
            </div>  
          {%- endif -%}
          </div>
        </div>
      {% endif %}
    </div><!----end hero-section4__content---->    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero-section.name4",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Convenient healthcare from home"
    },
    {
      "type": "color_background",
      "id": "image_bg",
      "label": "Section background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "image_background",
      "label": "Image Background",
      "default": "#172C85"
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "checkbox",
      "id": "show_review",
      "label": "Show reviews",
      "default": true
    },
    {
      "type": "text",
      "id": "reviews_count",
      "label": "Count reviews",
      "default": "475.4k"
    },
    {
      "type": "text",
      "id": "reviews_text",
      "label": "Reviews text",
      "default": "Happy customers"
    },
    {
      "type": "text",
      "id": "reviews_text2",
      "label": "Reviews text 2",
      "default": "<strong>“Excellent”</strong> based on over 24,000 reviews"
    },
    {
      "type": "text",
      "id": "reviews_subtitle",
      "label": "Reviews subtitle",
      "default": "Text"
    },
    {
      "type": "url",
      "id": "reviews_url",
      "label": "Reviews url"
    },
    {
      "type": "header",
      "content": "Blocks"
    },
    {
      "type": "checkbox",
      "id": "show_blocks",
      "label": "Show blocks",
      "default": true
    },
    {
      "type": "text",
      "id": "block_title1",
      "label": "Title block 1",
      "default": "Online pharmacy"
    },
    {
      "type": "select",
      "id": "block_icon1",
      "options": [
        {
          "value": "icon-pils",
          "label": "Pills"
        },
        {
          "value": "icon-ogpa",
          "label": "OGPA"
        },
        {
          "value": "icon-heart",
          "label": "Heart"
        }
      ],
      "default": "icon-pils",
      "label": "Block 1 icon"
    },
    {
      "type": "text",
      "id": "block_btn_text1",
      "label": "Block 1 button text",
      "default": "Buy online"
    },
    {
      "type": "url",
      "id": "block_btn_url1",
      "label": "Block 1 button url",
      "default": "/"
    },
    {
      "type": "text",
      "id": "block_title2",
      "label": "Title block 2",
      "default": "Home health tests"
    },
    {
      "type": "select",
      "id": "block_icon2",
      "options": [
        {
          "value": "icon-pils",
          "label": "Pills"
        },
        {
          "value": "icon-ogpa",
          "label": "OGPA"
        },
        {
          "value": "icon-heart",
          "label": "Heart"
        }
      ],
      "default": "icon-pils",
      "label": "Block 2 icon"
    },
    {
      "type": "text",
      "id": "block_btn_text2",
      "label": "Block 2 button text",
      "default": "Get tested"
    },
    {
      "type": "url",
      "id": "block_btn_url2",
      "label": "Block 2 button url",
      "default": "/"
    },
    {
      "type": "text",
      "id": "block_title3",
      "label": "Title block 3",
      "default": "Home health tests"
    },
    {
      "type": "select",
      "id": "block_icon3",
      "options": [
        {
          "value": "icon-pils",
          "label": "Pills"
        },
        {
          "value": "icon-ogpa",
          "label": "OGPA"
        },
        {
          "value": "icon-heart",
          "label": "Heart"
        }
      ],
      "default": "icon-pils",
      "label": "Block 3 icon"
    },
    {
      "type": "text",
      "id": "block_btn_text3",
      "label": "Block 3 button text",
      "default": "Get tested"
    },
    {
      "type": "url",
      "id": "block_btn_url3",
      "label": "Block 3 button url",
      "default": "/"
    },
    {
      "type": "header",
      "content": "logos"
    },
    {
      "type": "checkbox",
      "id": "show_logos",
      "label": "Show logos",
      "default": true
    },
    {
      "type": "text",
      "id": "title_news",
      "label": "Title logos",
      "default": "AS SEEN IN"
    },
    {
      "type": "image_picker",
      "id": "image_news1",
      "label": "Icon logo"
    },
    {
      "type": "image_picker",
      "id": "image_news2",
      "label": "Icon logo 2"
    },
    {
      "type": "image_picker",
      "id": "image_news3",
      "label": "Icon logo 3"
    },
    {
      "type": "image_picker",
      "id": "image_news4",
      "label": "Icon logo 4"
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 150
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-section.presets.name4"
    }
  ]
}
{% endschema %}
