{% unless template contains "index" or template contains "collection" or template contains "product"  %}
    <style> .search-section{position:relative;top:-72px;background:#fff;box-shadow:0 4px 16px rgba(0,0,0,.11);border-radius:16px;}.search-section__container{width:100%;padding:0 20px}.search-section__search{margin-top:19px}.search-section__title{font-weight:600;font-size:24px;line-height:26px;color:#12022f}.search-section__field{position:relative}.search-section__input{box-shadow:unset;font-size:18px}.search-section__icon-wrapper{position:absolute;left:20px;width:24px;height:24px;top:50%;transform:translateY(-50%)}.search-section__icon{width:100%;height:auto}.search-section__input{height:56px;width:100%;background:#e7e5EA4D;border-radius:28px;border:none;padding:15px 10px 15px 65px;transition:.4s all}.search-section .search-section__input:focus{padding:15px 10px 15px 65px;border:2px solid #d32f7c}.search-section__input::placeholder{font-weight:400;font-size:16px;line-height:26px;letter-spacing:-.36px;color:#12022f;mix-blend-mode:normal;opacity:.5}.search-section__caption{margin-top:34px;font-weight:600;font-size:12px;line-height:24px;letter-spacing:2px;text-transform:uppercase;color:#857d94}.search-section__list{margin-top:8px;display:flex;flex-wrap:wrap;gap:12px}.search-section__item{padding:5px 10px;font-weight:400;font-size:12px;line-height:22px;color:#12022f;text-decoration:none;background:#fef2f8;border-radius:8px;transition:.4s all;letter-spacing:-.3px}@media (hover:hover){.search-section__item:hover{background-color:#ffe3f1;text-decoration:underline}}@media screen and (max-width:1100px){.search-section{margin:0 24px}}@media screen and (max-width:990px){.search-section{position:unset}}@media screen and (max-width:767px){.search-section__input{font-size:15px}.search-section__title{font-size:16px;line-height:26px}}@media screen and (max-width:475px){.search-section__input::placeholder{font-size:12px;line-height:15px}}</style>
{% endunless %} 
<link rel="stylesheet" data-href="{{ 'section-search.aio.min.css' | asset_url }}">

{%- style -%}
  {% if section.settings.show_background %}
    #Search-{{ section.id }} {
    background: url('{{ section.settings.bg | img_url: 'master' }}');
    }

    #Search-{{ section.id }} * {
    color: {{ section.settings.body_text }};
    }
  {% endif %}

  {% if section.settings.show_background == false %}
    #Search-{{ section.id }} {
    background-color: #213b94;
    color: #FFFFFF;
    }
  {% endif %}

{%- endstyle -%}



<div id="Search-{{ section.id }}"
  class="home-search-2 color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none'
  and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %}
  background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="search-section page-width section-{{ section.id }}-padding isolate">
    <div class="search-section__container">
      <div class="search-section__title">{{ section.settings.title }}</div>
      <div class="search-section__sub_title">{{ section.settings.sub_title }}</div>
      <div class="search-section__search">
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="field search-section__field">
              <input class="search-section__input field__input" name="q"
                value="{{ search.terms | escape }}" placeholder="{{ section.settings.placeholder }}" role="combobox" type="search"
                aria-expanded="false" aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list"
                autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">
              <input type="hidden" name="type" value="product" />
              <input type="hidden" name="options[prefix]" value="last" />
              {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>

              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}

              <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              </button>

              <div class="search-section__icon-wrapper">
                <img loading="lazy" class="search-section__icon" src="{{ section.settings.icon | img_url: 'master' }}"
                  alt="">
              </div>
            </div>
          </form>
        </predictive-search>
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Home Search 2",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub title"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "t:sections.home-search.settings.icon.label"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image Section"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "Show background image",
      "default": false
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "t:sections.home-search.settings.placeholder.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.home-search.settings.mobile_margin_top.label",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "Home Search 2"
    }
  ]
}
{% endschema %}