{{ 'section-latest-articles.aio.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% liquid
  assign latest_articles = false
  assign user_tags = section.settings.tags | split: ';'
  assign tags_count = user_tags | size

  for link in section.settings.blog-menu.links
    assign blog = link.object
    if blog.articles
      if latest_articles
        assign latest_articles = latest_articles | concat:blog.articles
      else
        assign latest_articles = blog.articles
      endif
    endif
  endfor

  if latest_articles
    assign latest_articles = latest_articles | sort:'published_at' | reverse
  endif

%}

<div class="color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="latest-articles page-width section-{{ section.id }}-padding isolate">
    <div class="latest-articles__header">
      <h2 class="title main-title latest-articles__title">{{ section.settings.title | escape }}</h2>
      {%- render 'view-all', url: section.settings.link_all %}
    </div>
    <div class="latest-articles__swiper">
      <ul class="swiper-wrapper latest-articles__list" role="list">
        {% liquid 
          assign index = 1
          for article in latest_articles 
            if index > section.settings.count_latest_articles
              break
            endif

            assign find_tag = false

            if tags_count == 0 
              assign find_tag = true
            endif

            for user_tag in user_tags
              assign user_tag = user_tag | strip | upcase
              for art_tag in article.tags 
                assign art_tag = art_tag | strip | upcase
                if art_tag == user_tag
                  assign find_tag = true
                  break
                endif
              endfor
              if find_tag == true
                break
              endif
            endfor

            if find_tag != true
              continue
            endif

            assign index = index | plus: 1

            for link in section.settings.blog-menu.links
              assign blog = link.object
              for article_search in blog.articles
                if article.id == article_search.id
                  assign blog_title = blog.title
                endif
              endfor
            endfor

            render 'article', article: article, url: article.url, classNames: "swiper-slide latest-articles__item slider-block", blog_title: blog_title
          endfor
        %}
      </ul>
    </div>
  </div>
</div>

{% javascript %}
  const swiperLatestArticles = new Swiper(".latest-articles__swiper", {
    slidesPerView: 1.2,
    spaceBetween: 15,
    centeredSlides: true,
    initialSlide: 1,
    breakpoints: {
      768: {
        centeredSlides: true,
        slidesPerView: 1.2,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.latest-articles-slider.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.latest-articles-slider.settings.title.label",
      "default": "Shop by condition"
    },
    {
      "type": "url",
      "id": "link_all",
      "label": "t:sections.latest-articles-slider.settings.link_all.label"
    },
    {
      "type": "number",
      "id": "count_latest_articles",
      "label": "t:sections.latest-articles-slider.settings.count_latest_articles.label",
      "default": 6
    },
    {
      "type": "textarea",
      "id": "tags",
      "label": "t:sections.latest-articles-slider.settings.tags.label",
      "info": "For example: covid-19;bowel cancer;acne... etc."
    },
    {
      "type": "link_list",
      "id": "blog-menu",
      "label": "t:sections.list-blogs.settings.blog-menu.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 70
    }
  ],
  "presets": [
    {
      "name": "t:sections.latest-articles-slider.name"
    }
  ]
}
{% endschema %}
